/* 5 columnas personalizadas usando Bootstrap grid */
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
} 

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    height: 272px;
    width: 129px;
}

.current-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2e86de;
}

/* Da espacio entre las cards y el footer */
#cards {
  margin-bottom: 80px; /* Ajusta este valor según cuánto espacio quieras */
}

input.quantity-input {
  width: 60px; /* Puedes ajustar el valor según lo que quieras */
  text-align: center;
}
